<div>
<!-- <section  class="section1">
    <div class="container">
      <div class="hero-unit hero-unit-bordered">
                  <h1>Buy the ingredients for your recipe</h1>
      </div>
    </div>
</section > -->
  <section  class="section1">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
      <ol class="carousel-indicators hidden">
        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example" data-slide-to="1"></li>
         <li data-target="#carousel-example" data-slide-to="2"></li>
        <li data-target="#carousel-example" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="comunicaciones item_container">
            <div class="carousel-caption">
              <h1>Comunicaciones</h1>
            </div>
         </div>
         <div class="carousel-overlay"></div>
        </div>

         <div class="item">
          <div class="instrumental item_container">
            <div class="carousel-caption">
              <h1>Instrumental</h1>
            </div>
         </div>
         <div class="carousel-overlay"></div>
        </div>

        <div class="item">
          <div class="electro item_container">
            <div class="carousel-caption">
              <h1>Electromedicina</h1>
            </div>
         </div>
         <div class="carousel-overlay"></div>
        </div>

        <div class="item">
          <div class="control item_container">
            <div class="carousel-caption">
              <h1>Control</h1>
            </div>
         </div>
         <div class="carousel-overlay"></div>
        </div>

      </div>


  <!-- Controls -->
    <!--   <a class="left carousel-control" href="#carousel-example" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a> -->

      <!-- Controls -->
        <a class="left carousel-control" href="javascript:void(0)"
             data-slide="prev" data-target="#carousel-example">
        <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="javascript:void(0)"
             data-slide="next" data-target="#carousel-example">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

  </div>



  </section >
</div>

