<div class="page-header">
  <h2 class="text-muted">Control Industrial</h2>
</div>
 <div class="panel panel-default panel_medidorUV">
    <div class="panel-heading">
         <h3 class="panel-title panel-title_medidorUV">Interfases para entornos Industriales.</h3>
    </div>
    <div class="panel-body">
        <h4 class="h4-center">Los modelos mostrados en la imagen corresponden a interfases termométricas a tres hilos para sensores PT100 (termoresistencias de platino norma Europea), y con salida No Aislada a 0-10V o 4-20mA. La alimentación es de 24V normalizada para uso con PLC. Los rangos de trabajo son ajustados en fábrica a los valores solicitados por el usuario, siempre dentro del rango admitido por el sensor. También pueden solicitarse con salidas a 0-5V / 1-5V / 2-10V o 0-20mA.</h4>

        <p class="container-image">
          <img class="img010" width="35%" height="15%">
          <img class="img420" width="35%" height="15%">
          <img class="imgPwm420mA" width="35%" height="15%">
          <img class="imgFr420nA" width="35%" height="15%">
        </p>
        <div class="panel-footer">
          <h4>Montaje para Riel Din en tamaño equivalente a 4 módulos (7cm de ancho).</h4>
          <h5 class="panel-footer-content">En el mismo montaje y formato se fabrican interfases:

          Tensión / Corriente: 0-10V a 0-20mA / 2-10V a 4-20mA / 0-5V a 0-20mA / 1-5V a 4-20mA.

          PWM a 0-5V / 1-5V / 0-10V / 2-10V / 0-20mA y 4-20mA, con ciclo directo (con PWM al 100% - máxima tensión o corriente) o Inverso.

          De tensión o corriente a PWM (directo o inverso).

          Sensor de Temperatura AD590 (-50 a +150ºC) a 0-5V / 1-5V / 0-10V / 2-10V / 0-20mA / 4-20mA.</h5>
        </div>
         <a href="" data-toggle="modal" data-target=".myModalRtd" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-import"></span> Manual Interfase Industrial RTD (Pt-100) a 4-20mA</a>
        <a href="" data-toggle="modal" data-target=".myModalPwd" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-import"></span> Manual Conversor PWM a 4-20mA</a>
         <a href="" data-toggle="modal" data-target=".myModalFrec" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-import"></span> Manual Conversor Industrial Frecuencia 4-20mA</a>
         <a href="" data-toggle="modal" data-target=".myModalPed" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-import"></span> Listado de Interfases Industriales de fabricacion Siatel a pedido</a>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade myModal myModalRtd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Manual Interfase Industrial RTD (Pt-100) a 4-20mA</h4>
        </div>
        <div class="modal-body">
           <iframe height:"100%" width:"100%" src="assets/images/interfases/interfaseRtd.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
  <div class="modal fade myModal myModalPwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Manual Conversor PWM a 4-20mA</h4>
        </div>
        <div class="modal-body">
           <iframe height:"100%" width:"100%" src="assets/images/interfases/interfasePWM.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

      <!-- Modal -->
  <div class="modal fade myModal myModalFrec" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Manual Conversor Industrial Frecuencia 4-20mA</h4>
        </div>
        <div class="modal-body">
           <iframe height:"100%" width:"100%" src="assets/images/interfases/interfaseFrecuencia.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade myModal myModalPed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel"> Listado de Interfases Industriales de fabricacion Siatel a pedido</h4>
        </div>
        <div class="modal-body">
           <iframe height:"100%" width:"100%" src="assets/images/interfases/interfasesIndustrialesSiatel.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
