<section class="clientslayout">
    <div class="container">
      <div class="page-header">
        <h2 class="text-muted">Nuestros Clientes</h2>
      </div>
      <div class="well well-lg">
        Algunas de las empresas a las que en la actualidad le realizamos mantenimiento y reparación de instrumentos de medición, equipos de comunicaciones y otros sistemas electrónicos:
      </div>
      <div class="">
        <div class="col-md-4">
          <div class="list-group center">
            <a class="list-group-item disabled">
            Telefónica de Argentina S.A.
            </a>
            <a class="list-group-item">Occhi Visión (Mar del Plata).</a>
            <a class="list-group-item">Cooperativa Telefónica de Batán (Batán).</a>
            <a class="list-group-item">Cooperativa Telefónica de Mechongué. - (Mechongué).</a>
            <a class="list-group-item">Cooperativa de Servicios El Bolson. - (Río Negro).</a>
            <a class="list-group-item">Cooperativa de Provisión de Servicios Públicos de Sarmiento  Ltda.- (Chubut).</a>
            <a class="list-group-item">COTELVO Ltda. Cooperativa de Villa Ocampo. - (Santa Fé)</a>
            <a class="list-group-item">Centrales de la Costa Atlántica S.A. - (Central 9 de Julio  Mar del Plata).</a>
          </div>
      </div>
        <div class="col-md-4"><div class="list-group center">
          <a class="list-group-item disabled">Deitres S.R.L. - (Mar del Plata).</a>
          <a class="list-group-item">Punto Técnico S.R.L. - (Mar del Plata).</a>
          <a class="list-group-item">Materia Hnos - (Mar del Plata).</a>
          <a class="list-group-item">LINAC Systems - Aceleradores Lineales para Radioterapia - (Mar del Plata).</a>
          <a class="list-group-item">COR Mar del Plata - Radioterapia. - (Mar del Plata).</a>
          <a class="list-group-item">COR Tandil - Radioterapia (Tandil).</a>
          <a class="list-group-item">COR Olavarria - Radioterapia (Olavarria).</a>
          <a class="list-group-item"> Vidt Centro Medico - Radioterapia (Capital Federal).</a>
        </div>
      </div>
        <div class="col-md-4"><div class="list-group center">
          <a class="list-group-item disabled">La Plata Remolques - Remolcadores Navales (La Plata).</a>
          <a class="list-group-item">GSA Rental - Plataformas elevadoras (Mar del Plata).</a>
          <a class="list-group-item">Finnig - Representantes Carterpila (Mar del Plata - Neuquén).</a>
          <a class="list-group-item">Total Austral (Capital Federal).</a>
          <a class="list-group-item">Oyant Comunicaciones - (Venado Tuerto).</a>
          <a class="list-group-item">Vanelec - (Bto. Juarez).</a>
          <a class="list-group-item">Electromecánica Delta - (Mar del Plata).</a>
          <a class="list-group-item">WindAid Argentina S.A - Fabricación de Aerogeneradores - (Mar del Plata).</a>
        </div>
      </div>
      </div>
    </div>
</section>
