<div class="page-header">
  <h2 class="text-muted">Control Industrial</h2>
</div>
 <div class="panel panel-default panel_medidorUV">
    <div class="panel-heading">
         <h3 class="panel-title panel-title_medidorUV">Emuladores de RTD para calibración en campo - totalmente pasivos</h3>
    </div>
    <div class="panel-body">
        <p class="container-image"><img src="assets/images/controlIndustrial/emuladorRtd/emuladorRtd.png"  width="35%" height="15%" alt="Medidor UV"></p>
        <div class="panel-footer">
         <a href="" data-toggle="modal" data-target=".myModal" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-import"></span> Manual Emulador de RTD (Pt-100) EPT100A</a>
    </div>
</div>
  <!-- Modal -->
<div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Manual Emulador de RTD (Pt-100) EPT100A</h4>
        </div>
        <div class="modal-body">
           <iframe height:"100%" width:"100%" src="/assets/images/controlIndustrial/emuladorRtd/emulador.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
