<section class="kombilayout">
  <div class="container">
     <!-- header -->
       <div class="page-header">
        <img src="assets/images/kombi/logo_kombi.jpg" alt="">
      </div>

      <h3>Equipos de Radio Enlace</h3>

      <div class="row">
        <div class="col-sm8 col-md-6">
          <div class="thumbnail">
            <img src="assets/images/kombi/trasakomup.jpg" alt="">
            <div class="caption">
              <h4> Extensión Telefónica MonoKOM-UP</h4>
              <ul>
              <li><a> Bandas de 150 a 512 Mhz - Potencia 2 a 10 Watts (Ajustable)</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-6">
          <div class="thumbnail">
            <img src="assets/images/kombi/ms.jpg" alt="">
            <div class="caption">
              <h4> Mono-Canal Telefónico MonoKOM-MS</h4>
              <ul>
              <li><a>Bandas de 150 a 512 Mhz - Potencia 2 a 10 Watts (Ajustable)</a></li>
              <li><a>Bandas de 150 a 512 Mhz - Potencia 2 Watts.</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-6">
          <div class="thumbnail">
            <img src="assets/images/kombi/200s.jpg" alt="">
            <div class="caption">
              <h4> Bi-Canal Telefónico BiKOM 2000 S (dos canales telefónicos en un solo vínculo)</h4>
              <ul>
              <li><a>Bandas de 150 a 512 Mhz - Potencia 2 a 10 Watt (Ajustable)</a></li>
          </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-6">
          <div class="thumbnail">
            <img src="assets/images/kombi/trasauprural.jpg" alt="">
            <div class="caption">
              <h4>Equipo de Abonado TRASA UP (para sistemas de telefonia rural TRASA o compatibles Motorola)</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-6">
          <div class="thumbnail">
            <img src="assets/images/kombi/princi4.jpg" alt="">
            <div class="caption">
              <h4>Radio Enlace BaudiKOM</h4>
              <ul>
              <li><a>Enlace de datos asincrónicos en 9600 bps (apto para telemetría)</a></li>
              <li><a>Banda de 450 a 512 Mhz</a></li>
          </ul>
            </div>
          </div>
        </div>
      </div>
  </div>

</section>
