<div class="container">

   <!-- header -->
  <div class="page-header">
    <h2 class="text-muted"> Quienes Somos ? </h2>
  </div>

  <section class="row-fluid">

      <h5><a href="#home">Siatel</a>  es un emprendimiento de ingeniería que inicia sus actividades a partir del año 2003 con el fin de brindar soluciones y asesoramiento, originalmente  enfocados en el área de las comunicaciones.  </h5>

      <h5>Sus responsables poseen  una amplia experiencia en el mantenimiento de sistemas profesionales de comunicaciones adquirida, en parte, tras su paso por una importante empresa operadora de servicio.</h5>

      <h5>En comunicaciones nos especializamos en Mono-Canales de casi todas las marcas y sistemas de telefonía rural, Motorola ®, TRASA ® y RTRAM Siemens ® y contamos con simuladores para la reparación y mantenimiento de estos equipos.</h5>
      <h5>La experiencia de  trabajo de sus integrantes en laboratorios de comunicaciones e instrumental, sumo a Siatel al mantenimiento, reparación y ajuste de instrumentos de medición electrónica aplicados a diferentes áreas.</h5>

      <h5>Actividades anteriores, relacionadas con la industria, nos permitió incursionar en el mantenimiento  y diseño  en sistemas de medición de parámetros industriales.</h5>

      <h5>Hoy nuestra experiencia y el equipamiento de nuestro laboratorio, nos permite abordar el diseño, en pequeña escala y a medida, de diferentes instrumentos de banco, interfases para control industrial, o aquellos equipos que nuestros clientes puedan requerir.</h5>
      <h5>Nuestro laboratorio cuenta con instrumental de alta tecnología y calidad para realizar trabajos hasta el rango de microondas, tales como medidores de potencia de RF, contadores, frecuencímetros, analizadores de espectro, generadores de RF, monitores de servicio, analizadores y generadores de audio, osciloscopios digitales y analógicos, multímetro de 6 ½ dígitos y otros. Contamos también con una Referencia Estandar de 10 Mhz de alta estabilidad, sincronizada con GPS, para realizar ajustes de precisión en  instrumental.</h5>
      <h5>Todo esto nos permite brindar un servicio de calidad a nuestros clientes actuales y futuros. </h5>

  </section>

</div>
