<div class="page-header">
  <h2 class="text-muted">Control Industrial</h2>
</div>
 <div class="panel panel-default panel_medidorUV">
    <div class="panel-heading">
         <h3 class="panel-title panel-title_medidorUV">Cargador de Baterías de Tracción CBT 2418A (Gabinete en Acero Inoxidable)</h3>
    </div>
    <div class="panel-body">
        <h4 class="h4-center">Cargador para baterias de 24V - 18A según la curva DIN41773 (I-U-I) - Alimentación 220VCA</h4>

        <p class="container-image"><img src="assets/images/controlIndustrial/cargador_cbt/adelante.png" width="35%" height="15%" alt="Medidor UV"><img src="assets/images/controlIndustrial/cargador_cbt/atras.png" width="35%" height="15%" alt="Medidor UV"></p>
        <div class="panel-footer">
          <h4>Para carga de baterías de 2 x 12V - 225AH (C-20) de capacidad o 4 x 6V - 225AH (C-20), con salida de Habilitación
          Bloqueo para plataformas elevadoras o zamping o así lo requieran</h4>
          <h5 class="panel-footer-content">Para carga de baterias de 2 x 12V -225A/hs.(C-20) de capacidad o 4 x 6V - 225A/hs. (C-20), con salida de habilitación/bloqueo para plataformas elevadoras o zampin, lo que permite bloquear el uso de la máquina cuando las baterías estan en carga.</h5>
        </div>
         <a href="" data-toggle="modal" data-target=".myModal" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-import"></span> Manual Cargador CBT2418A</a>
    </div>
</div>
<!-- Modal -->
  <div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Manual Cargador CBT2418A</h4>
        </div>
        <div class="modal-body">
           <iframe height:"100%" width:"100%" src="/assets/images/controlIndustrial/cargador_cbt/manualCargador.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
