<div class="page-header">
  <h2 class="text-muted">Instrumentos de Banco</h2>
</div>
 <div class="panel panel-default panel_medidorUV">
    <!-- <div class="panel-heading">
         <h3 class="panel-title panel-title_medidorUV"></h3>
    </div> -->
    <div class="panel-body">
        <h4 class="h4-center"></h4>
        <ul class="thumbnails">
          <li class="span2 container-image ">
            <div href="javascrit:void(0)" class="thumbnail">
              <img class="img010" width="50%" height="15%">
              <h3>Medidor de Aislacion rango de 10 MOhms a 100 GOhms</h3>
            </div>
          </li>
          <li class="span2 container-image ">
            <div href="javascrit:void(0)" class="thumbnail">
              <img class="img420" width="50%" height="15%">
                <h3>Medidor de Protecciones hasta 900 Volts</h3>
            </div>
          </li>
        </ul>
         <a href="" data-toggle="modal" data-target=".myModalRtd" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-import"></span>Manual Megohmetro y Protecciones</a>
    </div>
</div>
 <div class="panel panel-default panel_medidorUV panel">
    <div class="panel-heading">
         <h3 class="panel-title panel-title_medidorUV"></h3>
    </div>
    <div class="panel-body">
        <h4 class="h4-center"></h4>

        <p class="container-image">
          <img class="imgFr420nA" width="35%" height="15%">
        </p>
        <div class="panel-footer">
          <h4></h4>
          <h5 class="panel-footer-content"></h5>
        </div>
         <a href="" data-toggle="modal" data-target=".myModalPwd" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-import"></span>Manual Miliometro</a>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade myModal myModalRtd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Manual Megohmetro y Protecciones</h4>
        </div>
        <div class="modal-body">
           <iframe height:"100%" width:"100%" src="assets/images/instrumentosSiatel/manualMegohmetro_y_Protecciones.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
  <div class="modal fade myModal myModalPwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Manual Miliometro</h4>
        </div>
        <div class="modal-body">
           <iframe height:"100%" width:"100%" src="assets/images/instrumentosSiatel/manual_Miliometro.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
