<section class="delsatlayout">
  <div class="container">
     <!-- header -->
       <div class="page-header">
        <div class="logo_delsat"></div>
      </div>

      <h3>Equipos para Telefonía Pública </h3>

      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <!-- <img src="assets/images/delsat/CT80160011.png" alt=""> -->
            <img class="img8016" data-src="holder.js/300x200" style="width: 300px; height: 220px;">
            <div class="caption">
              <h3>CT 8016</h3>
              <h4> Control integral para cabinas públicas y cyber</h4>
              <ul>
              <li><a>Control para 16 Cabinas telefónicas.</a></li>
              <li><a>16 Pc´s en forma simultánea.</a></li>
              <li><a>Impresora Térmica incorporada.</a></li>
          </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img class="img8002" data-src="holder.js/300x200" style="width: 300px; height: 220px;">
            <div class="caption">
              <h3>CT 8002 GSM </h3>
              <h4>  Controlador Telefónico Móvil</h4>
              <ul>
              <li><a>Controla hasta dos líneas GSM (puede ser sub-equipado con una línea celular).</a></li>
              <li><a>Modalidad Post-pago y Pre-pago.</a></li>
              <li><a>Dos entradas RJ11 para líneas de par de cobre.</a></li>
              <li><a>Impresora Térmica incorporada.</a></li>
          </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img class="imgCT80020021" data-src="holder.js/300x200" style="width: 300px; height: 220px;">
            <div class="caption">
              <h3>CT 8002 (Cobre) </h3>
              <h4>Ideal para dos cabinas de telefonía pública</h4>
              <ul>
              <li><a>Controla hasta dos líneas de par de cobre</a></li>
              <li><a>Impresora Térmica incorporada.</a></li>
          </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img class="imgVisor" data-src="holder.js/300x200" style="width: 300px; height: 200px;" >
            <div class="caption">
              <h3>Visor</h3>
              <h4>Ideal para dos cabinas de telefonía pública</h4>
              <ul>
                <li><a>Visor de cabina para toda la línea de tarifadores CT</a></li>
                <li><a>Apto para funcionar con Soft Wincab 6016 y 8016.</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="page-header">
  <h2 class="text-muted">Terminal Inalámbrico Fijo CTW 1001</h2>
  </div>
        <div class="panel panel-default panel_medidorUV">
          <div class="panel-heading">
               <h3 class="panel-title panel-title_medidorUV">Disminuya el costo de llamadas a celulares en su empresa</h3>
          </div>
          <div class="panel-body">
              <div class="container-image">
                <img class="terminalImg" width="70%" height="15%"/>
              </div>
              <div class="panel-footer">
                <h4>El CTW1001 le permite acceder a líneas celulares, conectadas como líneas externas de una central telefónica, de este modo se pueden realizar llamadas a los celulares corporativos a través de los teléfonos internos convencionales de su empresa, reduciendo notablemente el costo de las comunicaciones.</h4>
              </div>
          </div>
        </div>
    </div>
    <div class="container">
          <h4>Para consultar precios, información detallada de los equipos y accesorios : <a href="#contactUs">contactenos</a></h4>
    </div>
</section>
