.industrialcontrollayout {
  // always work using width: 100%;
  // .row-fluid;


  .panel-body .h4-center,
  .panel-body .container-image{
    text-align: center;
  }

  .container-cargador{
    display: flex;
  }

  .container-image{
    padding: 5%;
  }


/* div.modal.fade.myModal.in > div > div > div.modal-body > iframe{
    width: 100%;
    height: 100%;
  }
  @media (min-width: 992px){
    .modal-lg {
      width: 950px;
    }
  }
  .modal-body{
    height: 450px;
  }*/
}
