<div class="container">

      <div class="header-img-main">
          <a href=""><img class="logo__siatel"/></a>
          <h5>Laboratorio de Alta Frecuencia e Instrumental</h5>
      </div>

       <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>

      <nav class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#home">Home</a></li>
                  <li><a href="#contactUs">Contacto</a></li>
                  <li><a href="#clients">Clientes</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Productos
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="#medidorUv">Medidor UV</a></li>
                          <li><a href="#cargadorBateria">Cargador de Baterias</a></li>
                          <li><a href="#contadorPrograma">Contador de Eventos Programable</a></li>
                          <li><a href="#emuladorRtd">Emulador RTD</a></li>
                          <li><a href="#interfasesInd">Interfases Industriales</a></li>
                          <li><a href="#repetidores">Repetidores Infrarojos</a></li>
                          <li><a href="#instrumentosSiatel">Instrumentos Siatel</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Servicios
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="#especializacion">Especialización</a></li>
                          <li><a href="#radio">Radio</a></li>
                          <li><a href="#energias">Energia</a></li>
                          <li><a href="#instrumental">Instrumental</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Ventas Equipos
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="#delsat">Delsat</a></li>
                          <li><a href="#kombi">Kombi</a></li>
                      </ul>
                  </li>
              </ul>
      </nav>
</div>

