<div>
<div class="page-header">
  <h3 class="text-muted">Repetidores Infrarrojo para Decodificadores de DirecTV</h3>
</div>
<div class="panel panel-default panel-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Especificaciones</h3>
        </div>
        <div class="panel-body">
            <p>  Controle su Decodificador desde otra ubicación.

            Los módulos provistos se conectan a traves del cable coaxial hasta una distancia maxima de 30 mts.

            La distancia de operacion del control remotos hasta el módulo receptor de la unidad remota es de 10 mts.

            Se provee (*) con una con una fuente de alimentación externa de 220Vca a 9Vcc / 0.5 A.

            Cada módulo viene con cinta autoadhesiva para su fijación.

            Reducido tamaño, cada módulo mide 4 x 3 x 2 cm.

            (*) En el caso de compras realizadas por comercios del gremio los módulos se proveen solos.</p>
        </div>
    </div>
    <div class="thumbnail thumbnail_repetidor">
           <img src="assets/images/repetidorInfrarojo/repetidorBlanco.jpg"  width="35%" height="15%" alt="Medidor UV">
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Descripción</h3>
        </div>
        <div class="panel-body">
            <p>El Repetidor Infrarrojo es un dispositivo para manejar en forma remota su Decodificador

            desde un televisor "espejo" (*) alojado lejos del principal y sin necesidad de cableado adicional

            ya que se conecta a través del cable coaxil que interconecta el Decodificador al TV remoto.

            Lo conforman dos módulos y la fuente de alimentación.

            Uno de los módulos, la Unidad de Inserción, se coloca en el decodificador que se quiere

            controlar y el otro, la Unidad Remota  se instala a lado del televisor (espejo) desde donde se

            quiere controlar el deco.

            (Ver Foto y Diagrama de conexión)

            (*) La palabra “espejo” significa que tanto el Tv principal como el TV remoto reproducen el

            mismo canal ya que el decodificador es uno solo.</p>

        </div>
    </div>

</div>
 <div class="panel panel-default">
    <div class="panel-heading">
         <h3 class="panel-title">Modelos de Decodificadores Soportados</h3>
    </div>
    <div class="panel-body">
       <ul>
            <li>L10 - Código 00001</li>
            <li>L11 - Código 00001</li>
            <li>DirectTV Plus - Código 00001</li>
            <li>GLA1 - Código 00566</li>
            <li>L11 - Código 00001</li>
            <li>GE - Código 00566</li>
            <li>
                 <span>AZAMERICA 810B</span>
                 <span>Decodificadores para TV Digital Abierta (siempre que posea salida en Canal 3 o 4)<span>
            </li>
            <h5>Si su Decodificador no figura en el listado consultenos a traves de nuestra página Contáctenos</h5>
        </ul>
    </div>
</div>
</div>
