<section class="instrumental">
     <div class="container">
     <!-- header -->
       <div class="page-header">
        <h3 class="text-muted"> Instrumental </h3>
      </div>
      <h4>Reparación de Electrómetros y Dosímetros para uso en Radioterapia</h4>
      <h5>Reparación de intrumental utilizado en radioterapia de diferentes marcas:</h5>
      <ul>
          <li><a>CNMC Instruments</a></li>
          <li><a>Keithley</a></li>
          <li><a>PTW</a></li>
          <li><a>Gammex</a></li>
          <li><a>Medidores Automáticos X - Z (CRS)</a></li>
          <li><a>Contraste de termómetros y barómetros</a></li>
          <li><a>Reparación y fabricación (a pedido) de crisoles para fundición de CERROBEND.</a></li>
      </ul>

      <h4> Reparación de Instrumental Electrónico para uso en Comunicaciones</h4>
      <h5> Reparación y ajuste de instrumentos de diferentes marcas y tipos</h5>
      <ul>
          <li><a>Generadores de RF.</a></li>
          <li><a>Frecuencímetros y contadores.</a></li>
          <li><a>Osciloscopios.</a></li>
          <li><a>Gammex</a></li>
          <li><a>Generadores de Audio.</a></li>
          <li><a>Medidores de nivel de audio.</a></li>
          <li><a>Fuentes de alimentación</a></li>
          <li><a>Medidores de potencia en RF.</a></li>
      </ul>
      <h4>Por otros trabajos consultar</h4>


      <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img class="imgGenerador" data-src="holder.js/300x200" style="width: 300px; height: 200px;">
          <div class="caption">
            <p> Generadores de microondas reparados a Telefónica de Argentina S.A ®</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img class="imgIntru" data-src="holder.js/300x200" style="width: 300px; height: 200px;">
          <div class="caption">
            <p>Reparación y ajuste de tapones para Medidores de Potencia ThruLine tipo Bird ®</p>
          </div>
        </div>
      </div>
    </div>


      </div>
</section>
