<section class="radiopagelayout">
  <div class="container">
     <!-- header -->
       <div class="page-header">
        <h3 class="text-muted">Sistemas de Radio</h3>
      </div>
      <ul>
          <li><a>Mantenimiento de equipos de comunicaciones en laboratorio</a></li>
          <li><a>Mono-canales LOGOTEC, KOMBI, MACH, THOMSON, IATA Alcatel y otros</a></li>
          <li><a>Telefonía Rural, TRASA, MOTOROLA Y RTRAM Siemens</a></li>
          <li><a>Reparaciones y ajustes en laboratorio propio, con simuladores para sistemas rurales</a></li>
          <li><a>Reparación de Equipos de Comunicaciones Terrestres,  Banda Marina, VHF, UHF y Microondas</a></li>
          <li><a>Amplio respaldo técnico </a></li>
          <li><a>Para trabajos especiales y no descriptos consultar </a></li>
          <!-- falta para mas detalle -->
      </ul>
      <h5>Para trabajos de laboratorio trabajamos mediante envíos por encomienda o comisionista desde y hacia cualquier parte del país (consultar por e-mail o telefónicamente)</h5>

  </div>
</section>
