<section class="especializacionlayout">
    <div class="container">
       <!-- header -->
       <div class="page-header">
        <h3 class="text-muted">Especialización</h3>
      </div>

      <h4>Mantenimiento y reparación en laboratorio de equipos de Radio Enlace</h4>
      <ul>
          <li><a>Mantenimiento y reparación en laboratorio de equipos de Radio Enlace</a></li>
          <li><a>Equipos de Telefonía Rural: TRASA ®, Motorola, RTRAM Siemens y equipos asociados</a></li>
          <li><a> Radio Enlaces de Microondas Analógicos y Digitales</a></li>
          <li><a>  Laboratorio de alta frecuencia, mediciones en sistemas y equipos de UHF,  VHF y microondas (**)</a></li>
          <li><a>Ajustes de filtros y duplexores</a></li>
          <li><a>Asesoramiento </a></li>
          <!-- falta para mas detalle -->
      </ul>

      <h4> Cálculo de Radio Enlaces</h4>
      <ul>
          <li><a>Cálculos para proyectos de Radio Enlaces (***)</a></li>
          <!-- falta para mas detalle -->
      </ul>

      <h4>Reparación de Instrumental</h4>
      <ul>
          <li><a>Reparación de Instrumental de diferentes marcas y aplicaciones (**)</a></li>
          <!-- falta para mas detalle -->
      </ul>

       <h4>Medición en REDES DE DATOS</h4>
      <ul>
          <li><a>Mediciones para protocolización de redes de datos.</a></li>
          <!-- falta para mas detalle -->
      </ul>

      <span><a href="#">Venta de Equipos Nuevos</a></span>

      <h5>(**) Consultar especificando marca y tipo de instrumento o equipo. (***) Consultar indicando zona.</h5>

    </div>
</section>
