<div class="page-header">
  <h2 class="text-muted">Control Industrial</h2>
</div>
 <div class="panel panel-default panel_medidorUV">
    <div class="panel-heading">
         <h3 class="panel-title panel-title_medidorUV">Contador de Eventos Programable Siatel C 1002P</h3>
    </div>
    <div class="panel-body">
        <p class="container-image"><img class="programImg" width="50%" height="15%"></p>
        <div class="panel-footer">
          <h5 class="panel-footer-content">El contador de eventos (pulsos) programable C 1002P, es un contador de 6 dígitos que permite contar en forma ascendente o descendente pulsos provenientes de un sensor y detener la cuenta en forma automática al alcanzar un número dado programado por el usuario.

Frente a cortes de energia el número de la cuenta es almacenado en una memoria EEPROM y recuperarlo en forma automática al reestablecerse la misma.

Puede programarse en forma temporal como contador libre tanto en forma Ascendente como Descendente y posee una salida a relevador que permite controlar el encendido y apagado de una máquina.

        Para mas detalles puede bajar las especificaciones técnicas del contador (requiere lector de pdf).</h5>
        </div>
         <a href="" data-toggle="modal" data-target=".myModal" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-import"></span>Manual Contador  C 1002P</a>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Manual Contador  C 1002P</h4>
        </div>
        <div class="modal-body">
           <iframe height:"100%" width:"100%" src="assets/images/contador/contador.pdf"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
