<section class="energiaslayout">
     <div class="container">
     <!-- header -->
       <div class="page-header">
        <h3 class="text-muted"> Sistemas de Energía para Equipos de Comunicaciones </h3>
      </div>
      <h4>Mantenimiento de equipos de:</h4>
      <ul>
          <li><a>Fuentes de Alimentación.</a></li>
          <li><a>Fuentes Cargadoras de Batería.</a></li>
          <li><a>Controles de Carga con Paneles Solares.</a></li>
          <li><a>Rectificadores Monofásicos.</a></li>
          <li><a>Convertidores CC-CC.</a></li>
      </ul>
      <h5>Para trabajos especiales y no descriptos consultar</h5>
      <h4>Venta de Accesorios para Alimentación de Equipos de Comunicaciones</h4>
      <h5>Para trabajos especiales y no descriptos consultar</h5>
      <h5>Para mayor información visite nuestra página Venta de Equipos o Kombi

        Para trabajos de laboratorio trabajamos mediante envíos por encomienda o comisionista desde
        y     hacia cualquier parte del país (consultar por e-mail o telefónicamente) </h5>
  </div>
</section>
